@model List<FoodDelivery.Data.Models.Food>
@{

    ViewBag.Title = "Dishlist";
}


<h2>Food Catalog</h2><br />
<h3>Punjabi Sabaji</h3>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            var a = item.category;
            if (Convert.ToString(a) == "panjabi   ")
            {
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top small" src="~/Content/Images/FoodDelivery.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title"> @Html.ActionLink(item.Name, "Details", "Food", new { Id = item.Id }, null)</h6>
                            @item.RestorantName
                            @{
                                if (@item.Discount != 0)
                                {
                                    <div><b>₹@item.DiscountPrice</b><span class="m-2"><del>₹@item.Price</del></span></div>
                                    <div class="text-success">@item.Discount %  Off</div>
                                }

                                else
                                {
                                    <div class="font-weight-bold mb-2"> price: ₹@item.Price</div>
                                }
                            }

                        </div>
                    </div>
                </div>
            }

        }

    </div>
</div>

<br />
<h3>Fix Dish</h3>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            var a = item.category;
            if (Convert.ToString(a) == "fix       ")
            {
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top small" src="~/Content/Images/FoodDelivery.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title"> @Html.ActionLink(item.Name, "Details", "Food", new { Id = item.Id }, null)</h6>
                            @item.RestorantName
                            @{
                                if (@item.Discount != 0)
                                {
                                    <div><b>₹@item.DiscountPrice</b><span class="m-2"><del>₹@item.Price</del></span></div>
                                    <div class="text-success">@item.Discount %  Off</div>
                                }

                                else
                                {
                                    <div class="font-weight-bold mb-2"> price: ₹@item.Price</div>
                                }
                            }

                        </div>
                    </div>
                </div>
            }

        }

    </div>
</div>

<h3>Bread</h3>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            var a = item.category;
            if (Convert.ToString(a) == "bread     ")
            {
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top small" src="~/Content/Images/FoodDelivery.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title"> @Html.ActionLink(item.Name, "Details", "Food", new { Id = item.Id }, null)</h6>
                            @item.RestorantName
                            @{
                                if (@item.Discount != 0)
                                {
                                    <div><b>₹@item.DiscountPrice</b><span class="m-2"><del>₹@item.Price</del></span></div>
                                    <div class="text-success">@item.Discount %  Off</div>
                                }

                                else
                                {
                                    <div class="font-weight-bold mb-2"> price: ₹@item.Price</div>
                                }
                            }

                        </div>
                    </div>
                </div>
            }

        }

    </div>
</div>
